.slideshow {
    height: 400px;
    width: 500px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

.slideshow img {
    object-fit: contain;
    width: 500px;
    height: 400px;
    /* display: none; */
    position: absolute;
    display: block;
}

/* .fade {
  animation-name: fade;
  animation-duration: 1.0;
  animation-timing-function: ease-in;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

.visible {
    /* display: block; */
    opacity: 1;
    transition: opacity ease-in 1.0s;
    transition-delay: 0.5s;
} 

.hidden {
    opacity: 0;
    transition: opacity ease-in 1.0s;
}

ul {
    list-style-type: none;
}