.game-page {
  background-image: url(../../assets/images/seville_alcazar.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.game-center {
    padding: 0 20px
}

.button-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}