.board-grid {
    height: 411px;
    width: 687px;
    display: grid;
    grid-template-rows: repeat(3, 125px);
    grid-template-columns: 1fr 1fr;
    padding-top: 16px;
}

.board-holder  {
    position: relative;
}

.board-holder > img {
    position: absolute;
    left: 0;
    max-width: 100%; 
    height: auto;
}

.board-grid-quarter {
    display: grid;
    width: 92%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.board-midline-filler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}  