.profile {
  width: 750px;
  height: auto;
  background-color: rgba(141, 49, 44, 1);
  display: flex;
  flex-direction: column;
  border: 4px rgba(188, 141, 51, 1) solid;
  border-radius: 5px;
  box-shadow: 0 6px 20px #000c;
  color: white;
  min-height: 750px;
}

@media (max-width: 1200px) {
  .profile {
    width: 750px;
  }
}

.friend-list-item:hover {
    font-weight: bolder;
    cursor: pointer;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 10px;
}

.profile-content {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.profile-header .profile-pic-holder {
    width: 80px;
    height: 80px;
    cursor: default;
}

.profile-header .profile-pic-holder img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: default;
}

.edit-profile {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}