.icon-holder {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: auto;
    padding-right: 10px;
    position: relative;
}

.icon-holder > .icon {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px #000c;
}

.profile-pic-holder {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 2px rgba(188, 141, 51, 1) solid;
}

.icon-holder > .icon:hover {
    filter: brightness(1.3); 
}

.drop-options {
    position: absolute;
    margin-top: 50px;
    right: 25px;
    min-width: 300px;
    min-height: 275px;
    max-height: 60vh;
    background-color: rgba(141, 49, 44, 1);
    border: 2px rgba(188, 141, 51, 1) solid;
    color: white;
    box-shadow: 0 6px 20px #000c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 2;
}

.drop-options ul {
    padding: 0;
}

.drop-options > ul > li {
    cursor: pointer;
    display: flex;
    text-align: left;
    font-size: larger;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(141, 49, 44, 1);
}

.drop-options li:hover {
    background-color: rgb(157, 55, 49); 
}

li > .li-icon {
    justify-self: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 5px;
}

.friend-list-item {
    display: flex;
    align-items: center;
    font-size: large;
    padding-left: 10px;    
}

.friend-list-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.drop-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: large;
    font-weight: bold ;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid rgba(188, 141, 51, 1);
    cursor: pointer;
}

.drop-header .icon  {
    justify-self: left;
    margin-right: 10px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.flex-row .go-button {
    font-size: small;
    line-height: 1;
    background-color: rgba(188, 141, 51, 1);
    cursor: pointer;
    color: white;
    transition: 0.25s;
    border-left: none;
    padding: 0.4em;
    margin: 0px;
    border-radius: 0 5px 5px 0;
    height: 25px;
    width: 40px;
}

.flex-row input {
    height: 25px;
    margin: 0px;
    padding-left: 5px;
    border-radius: 5px 0 0 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border: none;
    border-right: none;
    box-sizing: border-box;
}

.flex-row textarea:focus, input:focus{
    outline: none;
}

li span {
    width: 100%;
}

.accept-decline-holder {
    margin-left: auto;
    display: flex;
}

.accept-button {
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.decline-button {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.accept-button:hover {
    filter: brightness(1.3); 
}

.decline-button:hover {
    background-color: #ff4d4d;
}

.empty-li {
    height: 1.5rem;
}

#profile-alert {
    color: white;
}

.icon-holder > #profile-alert {
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    right: 2px;
}

span > #profile-alert {
    margin-top: auto;
    margin-bottom: auto;
}

.game-list-item:hover{
    font-weight: bold;
    padding-left: 10px;    
}