@font-face {
    font-family: tangerine-bold;
    src:url(../../assets/Tangerine/Tangerine-Bold.ttf);
}

@font-face {
    font-family: tangerine;
    src:url(../../assets/Tangerine/Tangerine-Regular.ttf);
}

#play-now {
    height: auto;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 24px;
}

#play-now button {
    height: 1.5em;
    width: 4em;
    font-family: tangerine;
    font-size: 2em;
    padding: 5px;
    border-radius: 30em;
}


