#header {
    background-color: rgba(141, 49, 44, 0.0);
    height: 75px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3); */
}

#header .logo {
    height: 75%;
    align-self: center;
    padding-left: 5px;
    cursor: pointer;
}

#header button {
    height: 50%;
    margin: 5px;
}