@font-face {
    font-family: tangerine-bold;
    src:url(../../assets/Tangerine/Tangerine-Bold.ttf);
}

@font-face {
    font-family: tangerine;
    src:url(../../assets/Tangerine/Tangerine-Regular.ttf);
}

.lobby-page {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    min-width: 900px;
    
}

.lobby-page .drop-down {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  line-height: 1;
  background-color: rgba(141, 49, 44, 1);
  cursor: pointer;
  color: white;
  transition: 0.25s;
  border: 2px rgba(188, 141, 51, 1) solid;
}

.lobby-page .drop-down:hover {
  filter: brightness(1.2);
}



.lobby-top {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.lobby-top-right {
  /* flex: 1; */
  max-width: 750px;
    background-color: rgba(141, 49, 44, 1);
    display: flex;
    flex-direction: column;
    /* font-family: tangerine-bold; */
    /* font-size: 2rem; */
    /* font-weight: bolder; */
    border: 4px rgba(188, 141, 51, 1) solid;
    border-radius: 5px;
    box-shadow: 0 6px 20px #000c;
    color: white;
}

.lobby-top img {
    /* height: 400px; */
    width: 500px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    border: 4px solid rgba(141, 49, 44, 1);
    outline: 4px rgba(188, 141, 51, 1) solid;
    border-radius: 5px;
}

.lobby-bottom {
  flex: 1;
}

#game-title {
  font-family: tangerine-bold;
  font-weight: bolder;
  margin: 0;
  padding: 20px;
}

#game-desc {
  padding: 20px;
}

.lobby {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 6px 20px #000c;
  min-width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-holder button {
  display: block;
  max-width: 50%;
}