.user-item {
    display: flex;
    align-items: center;
    font-size: large;
}

.user-item:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.user-item .profile-pic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}
