.user-item {
    display: flex;
    align-items: center;
    font-size: large;
    padding-left: 10px;    
}

.user-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.user-item .profile-pic img{
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-right: 10px;
}