@font-face {
    font-family: tangerine-bold;
    src:url(../../assets/Tangerine/Tangerine-Bold.ttf);
}

@font-face {
    font-family: tangerine;
    src:url(../../assets/Tangerine/Tangerine-Regular.ttf);
}

