input {
    outline: none;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4))
}

form {
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 6px 20px #000c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
    padding: 20px;
    max-width: 800px;
}

button[type="submit"] {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  line-height: 1;
  background-color: rgba(141, 49, 44, 1);
  cursor: pointer;
  color: white;
  transition: 0.25s;
  border: 2px rgba(188, 141, 51, 1) solid;
  margin: 20px;
}

input[type="submit"]:hover {
    /* background-color: rgba(188, 141, 51, 1); */
  /* border: 2px rgba(141, 49, 44, 1) solid; */
  filter: brightness(1.3); 
}