input {
    outline: none;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 10px;
}

input[type="submit"] {
    text-align: center;
    background-color: lightblue;
    /* color: white; */
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;
    transition: border-color 0.5s;
    color: black;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 96, 0.9);
    color: white;
    border-color: rgb(0, 157, 255);
}