:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  line-height: 1;
  background-color: rgba(141, 49, 44, 1);
  cursor: pointer;
  color: white;
  transition: 0.25s;
  border: 2px rgba(188, 141, 51, 1) solid;
}
button:hover {
  /* background-color: rgba(188, 141, 51, 1); */
  /* border: 2px rgba(141, 49, 44, 1) solid; */
  filter: brightness(1.2); 
  /* color: rgba(141, 49, 44, 1); */
}

button:active {
  transform: scale(0.9);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
  /* height: 6em; */
  will-change: filter;
  transition: filter 300ms;
}
#header .logo:hover {
  /* filter: drop-shadow(0 0 2em rgba(188, 141, 51, 1)); */
  filter: brightness(1.3); 
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    min-width: 900px;
}

.game-page {
  background-image: url(./assets/images/seville_alcazar.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  /* justify-content: center; */
  align-items: center;
}