#main-menu-page {
    background-image: url(../../assets/images/Alhambra_view.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: center; */
    align-items: center;
}