#main-menu-page {
    background-image: url(../../assets/images/Alhambra_view.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: center; */
    align-items: center;
}

#game-display {
    display: flex;
}

#game-preview {
    height: 400px;
    width: 500px;
    object-fit: contain;
    overflow: hidden;
}

#game-about {
    height: 400px;
    width: 500px;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 30px;
}

.games-title {
    text-align: center;
    font-size: calc(max(10vw, 96px));
    min-width: 500px;
    text-align: center;
    margin: 0vh 0;
    color: rgb(63, 32, 9);
    font-family: tangerine-bold;
    align-items: center;
    align-self: center;
}